[Unit]
Description=codam-web-greeter idle logout service timer
After=graphical.target

[Timer]
OnCalendar=*:0/1
Unit=codam-web-greeter-idler.service

[Install]
WantedBy=graphical.target
