[Unit]
Description=codam-web-greeter data fetcher service
After=network-online.target

[Service]
Type=simple
User=codam-web-greeter
Group=codam-web-greeter
ExecStart=/usr/bin/bash /usr/share/codam/codam-web-greeter-fetcher.sh
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
