[Unit]
Description=codam-web-greeter idle logout service
After=graphical.target

[Service]
Type=oneshot
Restart=no
User=root
Group=root
ExecStart=/usr/bin/bash /usr/share/codam/codam-web-greeter-idler.sh

[Install]
WantedBy=graphical.target
