[Unit]
Description=Initializer for codam-web-greeter in the user environment
StartLimitIntervalSec=200
StartLimitBurst=5

[Service]
Type=oneshot
Restart=on-failure
RestartSec=30
RemainAfterExit=yes
ExecStart=/usr/bin/bash /usr/share/codam/codam-web-greeter-init.sh
ExecStopPost=/usr/bin/bash /usr/share/codam/codam-web-greeter-cleanup.sh

[Install]
WantedBy=default.target
