:root {
	/* Codam colors (do not change) */
	--color-yellow: #F2911A;
	--color-orange: #EA5C28;
	--color-red: #E52A2D;
	--color-purple: #B73188;
	--color-blue: #3AA2DB;
	--color-black: #000000;
	--color-white: #FFFFFF;

	/* Theme colors */
	--color-primary: var(--color-blue);

	/* Text colors */
	--color-text-primary: #EDEDED;
	--color-text-secondary: #A6A6A6;
	--color-text-tertiary: #6E6E6E;
	--color-text-error: var(--color-red);
	--color-text-success: var(--color-blue);
	--color-text-warning: var(--color-yellow);

	/* Backgrounds */
	--color-bg: var(--color-black);
	--bg-color-darken: rgba(0, 0, 0, 0.2);
	--bg-color-darken-strong: rgba(0, 0, 0, 0.65);
	--bg-color-lighten: rgba(255, 255, 255, 0.2);
	--bg-color-disabled-button: rgba(16, 16, 16, 0.3);
	--text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

	/* Events */
	--event-color-default: #00BABC;
	--event-color-exam: #ED8179;
	--event-color-association: #7E93D4;
	--event-color-recurring: #8E9C9C;
	--event-color-workshop: #39D88F;
	--event-color-rush: #F2911A;
	--event-color: var(--event-color-default); /* fallback */
}
