:root {
	/* Codam colors (do not change) */
	--color-yellow: #F2911A;
	--color-orange: #EA5C28;
	--color-red: #E52A2D;
	--color-purple: #B73188;
	--color-blue: #3AA2DB;
	--color-black: #000000;

	/* Theme colors */
	--color-primary: var(--color-blue);

	/* Text colors */
	--color-text-primary: #EDEDED;
	--color-text-secondary: #A6A6A6;
	--color-text-tertiary: #6E6E6E;
	--color-text-error: var(--color-red);
	--color-text-success: var(--color-blue);
	--color-text-warning: var(--color-yellow);

	/* Backgrounds */
	--color-bg: var(--color-black);
	--default-bg-img: url('assets/default-wallpaper.png');
	--bg-color-darken: rgba(0, 0, 0, 0.2);
	--bg-color-darken-strong: rgba(0, 0, 0, 0.65);
	--blur-bg-filter: blur(5px);
	--blur-bg-filter-lock-screen: blur(25px);
	--bg-color-lighten: rgba(255, 255, 255, 0.2);
	--text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

	/* Events */
	--event-color-default: #00BABC;
	--event-color-exam: #ED8179;
	--event-color-association: #7E93D4;
	--event-color-standup: #8E9C9C; /* Bocal Stand-up */
	--event-color-workshop: #39D88F;
	--event-color-rush: #F2911A;
	--event-color: var(--event-color-default); /* fallback */

	/* Others */
	--border-radius: 4px;
	--padding: 8px;
	--header-footer-height: 31px;
	--zoom: 1;
}

/* ***************************************** */
/* Page setup                                */
/* ***************************************** */

*,
*::after,
*::before {
	transition: background-color 0.1s, color 0.1s, border-color 0.1s;
}

*:hover,
*:hover::after,
*:active,
*:active::after,
*:focus
*:focus::after {
	transition: none;
}

::selection {
	background-color: var(--color-primary) !important;
	color: var(--color-text-primary) !important;
	text-shadow: none !important;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: var(--color-bg);
	color: var(--color-text-primary);
	font-size: 16px;
	font-family: sans-serif;
	overflow: hidden;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--default-bg-img);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	/* only allow text selection when we specifically allow it */
	user-select: none;
}

#blur-filter { /* for wallpapers */
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: var(--blur-bg-filter-lock-screen);
	pointer-events: none !important;
}

/* ***************************************** */
/* Header and footer                         */
/* ***************************************** */

header,
footer {
	box-sizing: border-box;
	width: 100%;
	height: var(--header-footer-height);
	padding: var(--padding) var(--padding);
	backdrop-filter: var(--blur-bg-filter);
	background-color: var(--bg-color-darken);
	color: var(--color-text-secondary);
	font-size: small;
	text-shadow: var(--text-shadow);
	white-space: nowrap;
}

/* Disable line breaks in header and footer */
header br,
footer br,
header br::after,
footer br::after {
	content: ' ';
}

.horibar-left {
	float: left;
	text-align: left;
	line-height: 1rem;
}

.horibar-right {
	float: right;
	text-align: right;
	line-height: 1rem;
}

header span,
footer span {
	margin: 0 var(--padding);
}

#info-debug {
	color: var(--color-text-error);
}

/* ***************************************** */
/* Logo                                      */
/* ***************************************** */

#logo-wrapper {
	position: absolute;
	height: 25%;
	display: flex;
	flex-direction: column;
}

#logo-wrapper.logo-top-left {
	top: calc(var(--header-footer-height) * 2);
	left: var(--header-footer-height);
	align-items: flex-start;
	justify-content: flex-start;
}

#logo-wrapper.logo-top-center {
	width: 100%;
	top: 10%;
	left: 0;
	align-items: center;
	justify-content: center;
}

/* below should not be used, will overlap with calendar */
#logo-wrapper.logo-top-right {
	top: calc(var(--header-footer-height) * 2);
	right: var(--header-footer-height);
	align-items: flex-end;
	justify-content: flex-end;
}

#logo-wrapper.logo-bottom-left {
	bottom: calc(var(--header-footer-height) * 2);
	left: var(--header-footer-height);
	align-items: flex-start;
	justify-content: flex-start;
}

#logo-wrapper.logo-bottom-center {
	width: 100%;
	bottom: 10%;
	left: 0;
	align-items: center;
	justify-content: center;
}

#logo-wrapper.logo-bottom-right {
	bottom: calc(var(--header-footer-height) * 2);
	right: var(--header-footer-height);
	align-items: flex-end;
	justify-content: flex-end;
}

#logo {
	display: inline-block;
	height: 100%;
	max-height: 250px;
}

/* ***************************************** */
/* Main (login and lock screen fields)       */
/* ***************************************** */

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	z-index: 1;
}

form {
	box-sizing: border-box;
	border: none;
	width: 264px;
	max-width: 90%;
	padding: var(--padding) calc(var(--padding) * 2);
}

form#exam-form {
	width: 100%;
	max-width: 792px; /* 3x 264px */
}

form input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: var(--padding) auto;
	border-style: solid;
	border-width: 1px;
	border-color: var(--bg-color-darken-strong);
	border-radius: var(--border-radius);
	padding: var(--padding) 0 var(--padding) var(--padding);
	background-color: var(--bg-color-darken-strong);
	backdrop-filter: var(--blur-bg-filter);
	color: var(--color-text-primary);
	caret-color: var(--color-text-primary);
	text-align: left;
	text-shadow: var(--text-shadow);
	user-select: text !important;
	cursor: text;
}

form input:focus {
	outline: none;
	border-color: var(--color-primary);
}

form input:disabled {
	cursor: not-allowed;
	color: var(--color-text-tertiary);
	cursor: default;
}

form input::placeholder {
	color: var(--color-text-tertiary);
}

form input.wiggle {
	animation: wiggle 0.6s ease-in-out 0s 1 normal;
	border-color: var(--color-red) !important;
}

form button {
	display: block;
	position: relative;
	margin: calc(var(--padding) * 1.5) auto 0 auto;
	text-align: center;
	border: none;
	background: none;
	padding: 0 var(--padding);
	color: var(--color-text-secondary);
	font-size: 3em;
	cursor: pointer;
	text-shadow: var(--text-shadow);
}

form button:not(:disabled):hover,
form button:not(:disabled):focus {
	cursor: pointer;
	outline: none;
	color: var(--color-text-primary);
}

form button:disabled {
	cursor: default;
	color: rgba(16, 16, 16, 0.3);
	text-shadow: none;
}

form button:not(:disabled):active {
	transform: scale(0.95);
}

#active-user-session-avatar {
	display: block;
	margin: -50% auto calc(var(--padding) * 6) auto;
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 50%;
	background-color: var(--bg-color-darken-strong);
}

/* user display name, "reserved for exam" text */
form h3 {
	font-weight: bold;
	margin: var(--padding) 0 0 0;
	color: var(--color-text-primary);
	text-shadow: var(--text-shadow);
}

/* user login name */
form h4 {
	font-weight: normal;
	margin: 0 0 calc(var(--padding) * 2) 0;
	color: var(--color-text-secondary);
	text-shadow: var(--text-shadow);
}

/* other text */
form p {
	margin: var(--padding) 0 0 0;
	color: var(--color-text-primary);
	text-shadow: var(--text-shadow);
}

#exam-mode-projects {
	font-size: small;
	font-style: italic;
	color: var(--color-text-secondary);
}

.extra-text {
	margin-top: calc(var(--padding) * 2);
	font-size: small;
	font-style: italic;
	color: var(--color-text-secondary);
}

#message-wrapper {
	height: 0; /* do not include in height calculation for main */
}

#message {
	padding-top: calc(var(--padding) * 12);
	text-shadow: var(--text-shadow);
	color: var(--color-text-primary);
	font-size: small;
}

@keyframes wiggle {
	0%, 100% {
		transform: translateX(0);
	}
	12.5%, 37.5%, 62.5%, 87.5% {
		transform: translateX(-6px);
	}
	25%, 50%, 75% {
		transform: translateX(6px);
	}
}

/* ***************************************** */
/* Aside (Intra calendar)                    */
/* ***************************************** */

aside {
	position: absolute;
	top: var(--header-footer-height);
	right: 0;
	width: calc(30vw * var(--zoom));
	max-width: 400px;
	padding: var(--padding);
}

.calendar-event {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;

	background-color: var(--bg-color-darken);
	text-shadow: var(--text-shadow);
	backdrop-filter: var(--blur-bg-filter);
	margin: var(--padding) 0;
	border-radius: var(--border-radius);
	cursor: pointer;
}

.calendar-event:hover {
	background-color: var(--bg-color-darken-strong);
}

.calendar-event:hover .calendar-event-date {
	color: var(--color-text-primary);
	transition: none;
}

.calendar-event:first-child {
	margin-top: 0;
}

.calendar-event:last-child {
	margin-bottom: 0;
}

.calendar-event .calendar-event-date {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: var(--color-text-secondary);
	padding: var(--padding);
	width: 48px;
	flex-grow: 0;
	flex-shrink: 0;
	border-radius: var(--border-radius);
	border-left: 4px solid var(--event-color);
}

.calendar-event .calendar-event-date .calendar-event-date-day {
	display: block;
	font-size: small;
}

.calendar-event .calendar-event-date .calendar-event-date-date {
	display: block;
	font-size: x-large;
	font-family: monospace;
	margin-top: 1px;
}

.calendar-event .calendar-event-date .calendar-event-date-month {
	display: block;
	font-size: small;
}

.calendar-event .calendar-event-wrapper {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 0;
	padding: var(--padding) var(--padding) var(--padding) 0;
	font-size: small;
}

.calendar-event .calendar-event-wrapper > * {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	line-clamp: 1;
	-webkit-line-clamp: 1;
	overflow: hidden;
}

.calendar-event .calendar-event-title {
	font-weight: bold;
	color: var(--color-text-primary);
	margin-bottom: calc(var(--padding) / 4);
}

.calendar-event .calendar-event-description {
	line-clamp: 2;
	-webkit-line-clamp: 2;
	color: var(--color-text-secondary);
	margin-bottom: calc(var(--padding) / 2);
}

.calendar-event .calendar-event-details {
	color: var(--color-text-secondary);
	font-size: x-small;
}

.calendar-event-details > span:not(:first-child):not(:empty)::before {
	content: ' · ';
}

/* colors for event kinds */
[data-event-kind="exam"] {
	--event-color: var(--event-color-exam);
}

[data-event-kind="rush"],
[data-event-kind="piscine"],
[data-event-kind="partership"] {
	--event-color: var(--event-color-rush);
}

[data-event-kind="association"],
[data-event-kind="conference"] {
	--event-color: var(--event-color-association);
}

[data-event-kind="workshop"],
[data-event-kind="challenge"],
[data-event-kind="hackathon"] {
	--event-color: var(--event-color-workshop);
}

[data-event-kind="standup"] {
	--event-color: var(--event-color-standup);
}

/* ***************************************** */
/* Dialogs (Intra calendar event)            */
/* ***************************************** */

dialog {
	background: var(--bg-color-darken-strong);
	backdrop-filter: var(--blur-bg-filter);
	border-radius: var(--border-radius);
	color: var(--color-text-primary);
	width: calc(50vw * var(--zoom));
	max-width: 700px;
	padding: var(--padding);
	outline: 0;
	border: solid 1px var(--color-primary);
	box-shadow: var(--text-shadow);
	overflow: hidden;
	user-select: none;
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
	/* disabled for performance reasons */
	/* backdrop-filter: var(--blur-bg-filter); */
}

dialog.calendar-event-dialog {
	border-color: var(--event-color);
	padding: 0;
}

dialog.calendar-event-dialog .calendar-event-date {
	background-color: var(--event-color);
	text-transform: uppercase;
	font-size: small;
	padding: var(--padding) var(--padding) 0 var(--padding);
}

dialog.calendar-event-dialog .calendar-event-date > span::after {
	content: ' ';
}

dialog.calendar-event-dialog .calendar-event-spots:not(:empty)::after {
	content: ' registrations';
}

dialog.calendar-event-dialog .calendar-event-title {
	background-color: var(--event-color);
	font-weight: bold;
	padding: calc(var(--padding) / 4) var(--padding) var(--padding) var(--padding);
}

dialog.calendar-event-dialog .calendar-event-description {
	padding: var(--padding);
	overflow: auto;
	max-height: calc(50vh * var(--zoom));
	user-select: text;
}

dialog.calendar-event-dialog .calendar-event-details {
	padding: var(--padding);
	text-align: right;
	font-size: small;
}

dialog.calendar-event-dialog .dialog-close-button {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
	width: calc(var(--padding) * 3);
	height: calc(var(--padding) * 3);
	color: var(--bg-color-lighten);
	outline: 0;
}

dialog.calendar-event-dialog .dialog-close-button:hover {
	color: var(--color-text-primary);
}

/* ***************************************** */
/* Screensaver                               */
/* ***************************************** */

#screensaver-wrapper {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-bg);
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	/* play fade-out animation once */
	animation: fade-out 0.15s ease-in-out 0s 1 normal;
}

#screensaver-wrapper.active {
	opacity: 1;
	pointer-events: all; /* take over the screen */
	/* play fade-in animation once */
	animation: fade-in 0.5s ease-in-out 0s 1 normal;
	cursor: none !important; /* hide cursor */
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#screensaver-canvas {
	width: 100%;
	height: 100%;
	object-fit: cover; /* in case the screen isn't perfectly 16:9 */
}
