name: Publish new release on GitHub

on:
  # Run automatically when a new tag is created
  push:
    tags:
      - 'v0.*' # alpha
      - 'v1.*' # release


jobs:
  build-client-webpack:
    uses: ./.github/workflows/client-webpack.yml

  release:
    needs: build-client-webpack
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Download Artifact
      uses: actions/download-artifact@v4.1.7
      with:
        pattern: relzip-*
        path: ./artifacts

    - name: Display structure of downloaded files
      run: ls -lahR
      working-directory: ./artifacts

    - name: Create Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/v')
      with:
        files: ./artifacts/*/codam-web-greeter-*.zip
        fail_on_unmatched_files: true
        tag_name: ${{ github.ref }}
        name: codam-web-greeter ${{ github.ref_name }}
        generate_release_notes: true
        draft: true
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}
